body {
    font-family: system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

#title {
    font-size: 1.25rem;
    font-weight: 700;
}

.info {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 10%;
    margin-right: 5px;
}

.table, #download {
    display: none;
}